@page "{libraryId:guid}/chapter/{chapterId:guid}"
@using KamiYomu.Web.Areas.Reader.Pages.MangaReader
@model IndexModel

<div id="readerShell" class="reader-shell d-flex flex-column vh-100 overflow-hidden" >

    <div class="main-viewer d-flex flex-column flex-grow-1 overflow-hidden" id="mainViewer">

        <div class="offcanvas offcanvas-start bg-dark text-white"
             tabindex="-1"
             id="readerSettings"
             data-bs-container="#mainViewer">
            <div class="offcanvas-header border-bottom border-secondary">
                <h5 class="offcanvas-title">@I18n.Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <partial name="Partials/_ReaderControls" />
            </div>
        </div>

        <partial name="Partials/_ReaderHeader" model="Model" />

        <div id="readerContainer" class="webtoon-mode flex-grow-1 overflow-auto bg-black" data-last-page="@Model.LastReadPage">
            @for (int i = 0; i < Model.PageUrls.Count; i++)
            {
                int pageNumber = i + 1;
                bool isLastPage = (i == Model.PageUrls.Count - 1);

                <div class="manga-page-wrapper" 
                     id="manga-page-@(pageNumber)"
                     data-page-index="@(pageNumber)"
                     hx-post="@Url.Page("/MangaReader/Index", "PageViewed", 
                     new { 
                            Area = "Reader",
                            ChapterId = Model.ChapterId,
                            LibraryId = Model.LibraryId,
                            IsLastPage = isLastPage,
                            PageNumber = pageNumber
                     })"
                     hx-trigger="page-passed"
                     hx-swap="none">
                    <img src="@Url.Page("/MangaReader/Index", "Image", new { area = "Reader", id = Model.ChapterId, fileName = Model.PageUrls[i] })"
                         class="reader-img"
                         loading="lazy"
                         alt="Page @(i + 1)" />
                </div>
            }
        </div>

        <partial name="Partials/_ReaderFooter" model="Model" />

    </div>
</div>

@section Scripts {
    <script src="~/js/reader.js" asp-append-version="true"></script>

    <script>
    document.body.addEventListener("htmx:configRequest", function (event) {
        const token = document.querySelector('meta[name="csrf-token"]')?.content;
        if (token) {
            event.detail.headers['RequestVerificationToken'] = token;
        }
    });

</script>

}
