@using KamiYomu.Web.Areas.Libraries.Pages.Collection.Dialogs

@model FollowButtonViewModel
<button id="followBtn"
        class="btn btn-sm @(Model.IsFollowing ? "btn-success" : "btn-outline-secondary")"
        hx-post="/Libraries/Collection/Dialogs/DownloadStatus?handler=ToggleFollowing"
        hx-vals='{
            "FollowButtonViewModel.LibraryId": "@Model.LibraryId",
            "FollowButtonViewModel.IsFollowing": "@Model.IsFollowing.ToString().ToLower()"
        }'
        hx-target="this"
        hx-swap="outerHTML">

    <i class="bi @(Model.IsFollowing ? "bi-eye-fill" : "bi-eye") me-2"></i>
    @(Model.IsFollowing? I18n.Following: I18n.Follow)
</button>
