@using KamiYomu.Web.ViewComponents
@model BadgeChapterDownloadStatusViewComponentModel

<span class="badge @Model.BadgeClass" title="@Model.Legend"
      data-bs-toggle="popover"
      data-bs-trigger="hover focus"
      data-bs-placement="top"
      data-bs-content="@Model.Legend"
      data-bs-title="@I18n.DownloadStatus">
    @(I18n.ResourceManager.GetString(Model.ChapterDownloadRecord.DownloadStatus.ToString())
        ?? Model.ChapterDownloadRecord.DownloadStatus.ToString())
</span>

<script>
     function initPopovers() {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", initPopovers);
    } else {
        initPopovers();
    }
</script>
