@using KamiYomu.Web.Areas.Settings.Pages.Integrations
@model GotifyIntegrationInput

<div class="accordion" id="gotifyAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingGotify">
            <button class="accordion-button collapsed d-flex align-items-center gap-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseGotify"
                    aria-expanded="true"
                    aria-controls="collapseGotify">

                <img src="https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/gotify.svg"
                     alt="Gotify logo"
                     class="img-header img-fluid d-inline-block align-middle me-2"
                     loading="lazy"
                     decoding="async">

                <span class="h3 text-muted">Gotify</span>
            </button>
        </h2>

        <div id="collapseGotify" class="accordion-collapse collapse show" aria-labelledby="headingGotify" data-bs-parent="#gotifyAccordion">
            <div class="accordion-body">
                <form method="post" id="gotifyForm" class="small">
                    <div class="mb-2">
                        <label asp-for="ServiceUri" class="form-label"></label>
                        <input name="Input.ServiceUri" asp-for="ServiceUri" class="form-control form-control-sm" />
                        <span asp-validation-for="ServiceUri" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="ApiKey"></label>
                        <input name="Input.ApiKey" asp-for="ApiKey"
                               class="form-control form-control-sm"
                               type="password"
                               placeholder="@I18n.PasteYourGotifyAppTokenHere" />
                        <span asp-validation-for="ApiKey" class="text-danger small"></span>

                        <div class="alert alert-info mt-2 p-2 small">
                            <strong>@I18n.HowToGetYourGotifyToken</strong>
                            <ol class="mb-0 ps-3">
                                <li>@I18n.GotifyTutorialApiKey01</li>
                                <li>@I18n.GotifyTutorialApiKey02</li>
                                <li>@I18n.GotifyTutorialApiKey03</li>
                                <li>@I18n.GotifyTutorialApiKey04</li>
                            </ol>
                            <a href="https://gotify.net/docs/">@I18n.SeeTheDocumentation</a>
                        </div>
                    </div>


                    <div class="form-check mb-2">
                        <input name="Input.Enabled" class="form-check-input" asp-for="Enabled" />
                        <label name="Input.Enabled" asp-for="Enabled" class="form-check-label"></label>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="button"
                                class="btn btn-secondary btn-sm"
                                hx-post="@Url.Page("GotifyIntegration", "TestGotifyConnection")"
                                hx-target="closest .accordion"
                                hx-swap="outerHTML"
                                hx-include="closest #gotifyForm">
                            <i class="bi bi-plug me-1"></i>
                            @I18n.TestConnection
                        </button>

                        <button type="button"
                                class="btn btn-primary btn-sm"
                                hx-post="@Url.Page("GotifyIntegration", "SaveGotify")"
                                hx-target="closest .accordion"
                                hx-swap="outerHTML"
                                hx-include="closest #gotifyForm">
                            <i class="bi bi-save me-1"></i>
                            @I18n.Save
                        </button>

                        <button type="button"
                                class="btn btn-outline-danger btn-sm"
                                hx-post="@Url.Page("GotifyIntegration", "DeleteGotify")"
                                hx-target="closest .accordion"
                                hx-swap="outerHTML"
                                hx-include="closest #gotifyForm">
                            <i class="bi bi-trash me-1"></i>
                            @I18n.DeleteIntegration
                        </button>
                    </div>
                </form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (!string.IsNullOrWhiteSpace(Model?.SucessMessage))
                {
                    <partial name="_MessageSuccess" model="Model.SucessMessage" />
                }
            </div>
        </div>
    </div>
</div>
