@using KamiYomu.Web.Areas.Reader.ViewComponents
@model WeeklyChapterViewComponentModel

<div class="weekly-chapters-wrapper d-flex flex-column gap-2">
    @{
        int itemNumber = 0;
    }
    @foreach (var weeklyChapter in Model.WeeklyChapters)
    {
        if (Model.Limit == itemNumber)
        {
            break;
        }

        var date = weeklyChapter.Items.FirstOrDefault()?.StatusUpdateAt.ToLongDateString();

        if (!string.IsNullOrWhiteSpace(date))
        {
            <div class="date-label small fw-bold text-muted mb-2 mt-4 text-uppercase">
                @date
            </div>
        }


        @foreach (var chapter in weeklyChapter.Items)
        {

            if (Model.Limit == itemNumber)
            {
                break;
            }

            itemNumber++;

            <a asp-area="Reader" asp-page="/MangaReader/Index"
               asp-route-chapterDownloadId="@chapter.ChapterDownloadId"
               asp-route-libraryId="@weeklyChapter.LibraryId"
               asp-route-returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")"
               class="manga-list-item d-flex align-items-center text-decoration-none rounded p-2 mb-2 border-bottom shadow-sm">

                <div class="flex-shrink-0 thumb-container">
                    <img src="@weeklyChapter.MangaCoverUrl.ToInternalImageUrl()"
                         alt="@weeklyChapter.MangaTitle"
                         class="img-fluid rounded side-thumb"
                         loading="lazy">
                </div>

                <div class="flex-grow-1 ms-3 d-flex flex-column overflow-hidden">
                    <div class="manga-title-lg text-truncate">
                        @weeklyChapter.MangaTitle
                    </div>

                    <div class="chapter-info">
                        <span class="text-primary fw-bold">Chapter @chapter.ChapterNumber</span>
                    </div>

                    <div class="time-info">
                        <small class="text-muted">
                            <i class="bi bi-clock me-1"></i>
                            @chapter.StatusUpdateAt.ToString("g")
                        </small>
                    </div>
                </div>

                <div class="text-muted ms-2">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        }
    }
</div>
