@page
@model KamiYomu.Web.Areas.Settings.Pages.Add_ons.Dialogs.DeleteConfirmModel
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@I18n.ConfirmDelete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>Confirm delete source</p>
</div>
<div class="modal-footer">
    <form method="post"
          hx-post="/Settings/Add-ons/Dialogs/DeleteConfirm"
          hx-target="#search-bar"
          hx-on::after-request="handleNugetSourceUpdate()"
          hx-swap="innerHTML">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.NugetSource.Id" />
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">@I18n.Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@I18n.Cancel</button>
    </form>
</div>


<script>
    function handleNugetSourceUpdate() {
        const select = document.getElementById('nuget-source-select');
        const button = document.getElementById('add-nuget-button');

        if (select && button) {
            if (select.options.length > 1) {
                button.classList.add('d-none');
            } else {
                button.classList.remove('d-none');
            }
        }
    }
</script>