@page
@using KamiYomu.Web.AppOptions
@using KamiYomu.Web.Entities.Addons
@model KamiYomu.Web.Areas.Settings.Pages.CommunityCrawlers.IndexModel
@{
    ViewData["Title"] = I18n.AddonExplorer;
}


<div class="d-flex justify-content-between align-items-center m-3">
    <h2 class="h5 mb-0 text-primary">
        <i class="bi bi-node-plus-fill me-3" aria-hidden="true"></i>
        @I18n.AddonExplorer
    </h2>

    <div class="btn-toolbar">
        <div class="btn-group">
            @if (!Model.IsNugetAdded)
            {
                <button id="add-nuget-button" class="btn btn-sm btn-outline-primary"
                        title="@I18n.AddNugetOrgAsSource"
                        aria-label="@I18n.AddNugetOrgAsSource"
                        hx-get="/Settings/Add-ons/Dialogs/ConfirmAddNugetOrg"
                        hx-target="#modal-body"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#modal">
                    <i class="bi bi-terminal-plus me-1"></i> @I18n.AddNugetOrgAsSource
                </button>
            }
         

            <button class="btn btn-sm btn-outline-secondary"
                    title="@I18n.Delete"
                    aria-label="@I18n.Delete"
                    hx-get="/Settings/Add-ons/Dialogs/ListSourceDialog"
                    hx-target="#modal-body"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#modal">
                <i class="bi bi-terminal-plus me-1"></i> @I18n.Sources
            </button>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div id="search-bar">
        <partial name="_SearchBar" model="Model.SearchBarViewModel" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div id="result" class="mt-4">
        <partial name="_PackageList" model="Model.PackageListViewModel" />
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="startupDisclaimerModal" tabindex="-1" aria-labelledby="startupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="startupModalLabel"><i class="bi bi-exclamation-circle text-warning me-3"></i> @I18n.AddonDisclaimer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    @I18n.ModalSomeAddonsAvailableMaintainedCommunity
                </p>
                <ul>
                    <li>@I18n.ModalAccessUnofficialThirdPartySourcesManga</li>
                    <li>@I18n.ModalIncludeCodeBehaviorNotEndorsedKamiYomu</li>
                    <li>@I18n.ModalPosePotentialSecurityPrivacyRisks</li>
                </ul>
                <p>
                    @I18n.ModalKamiYomuNotProvideSupportCommunityAddons
                </p>
                <p>
                    @I18n.ModalReviewAddonRepositoryBeforeInstall
                </p>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="disableDisclaimer">
                    <label class="form-check-label" for="disableDisclaimer">
                        @I18n.ModalDontShowThisMessageAgain
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', () => {
          const modalShown = localStorage.getItem('disableDisclaimer') === 'true';
          if (!modalShown) {
            const modal = new bootstrap.Modal(document.getElementById('startupDisclaimerModal'));
            modal.show();

            document.getElementById('disableDisclaimer').addEventListener('change', function () {
              localStorage.setItem('disableDisclaimer', this.checked.toString());
            });
          }
        });
    </script>
}

