@using KamiYomu.Web.AppOptions
@using KamiYomu.Web.Entities
@using KamiYomu.Web.Infrastructure.Contexts
@using KamiYomu.Web.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@model FamilySafeViewComponentModel


<form method="post" 
      asp-page="/Index" 
      asp-page-handler="FamilySafe" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" id="family-safe-return-url" name="returnUrl" value="@($"{Context.Request.Path}{Context.Request.QueryString}")" />
    <button type="submit"
            class="btn @Model.ButtonClass btn-sm d-flex align-items-center shadow-sm rounded-pill px-3 justify-content-center"
            style="border-width: 1px;"
            data-bs-toggle="popover"
            data-bs-trigger="hover focus"
            data-bs-placement="top"
            data-bs-content="@Model.Legend"
            title="@I18n.FamilySafeMode">

        <i class="@Model.IconClass fs-6 me-sm-2"></i>

        <span class="fw-normal flex-grow-1 text-center small pe-4 d-none d-sm-inline">
            @I18n.FamilySafeMode
        </span>
    </button>
</form>


<script src="~/js/family-safe-mode.js" asp-append-version="true"></script>
