@page
@using KamiYomu.Web.Entities
@using KamiYomu.Web.Extensions
@model KamiYomu.Web.Areas.Libraries.Pages.Collection.Dialogs.DownloadChapterTableModel
@{
    Layout = null;
}

<div class="table-responsive" id="downloads-table">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-secondary">
            <tr>
                <th scope="col">
                    <a href="#"
                       hx-get="@Url.Page("DownloadChapterTable", new { libraryId = Model.LibraryId, sort = nameof(ChapterDownloadRecord.Chapter), asc = !Model.SortAsc, page = Model.CurrentPage })"
                       hx-target="#downloads-table" hx-swap="outerHTML" class="text-decoration-none">
                        @I18n.Chapter
                        @if (Model.SortColumn == "Chapter")
                        {
                            <i class="bi @(Model.SortAsc ? "bi-caret-up-fill" : "bi-caret-down-fill") ms-1"></i>
                        }
                    </a>
                </th>

                <th scope="col">
                    @I18n.Size
                </th>

                <th scope="col">
                    <a href="#"
                       hx-get="@Url.Page("DownloadChapterTable", new { libraryId = Model.LibraryId, sort = nameof(ChapterDownloadRecord.DownloadStatus), asc = !Model.SortAsc, page = Model.CurrentPage })"
                       hx-target="#downloads-table" hx-swap="outerHTML" class="text-decoration-none">
                        @I18n.Status
                        @if (Model.SortColumn == nameof(ChapterDownloadRecord.DownloadStatus))
                        {
                            <i class="bi @(Model.SortAsc ? "bi-caret-up-fill" : "bi-caret-down-fill") ms-1"></i>
                        }
                    </a>
                </th>

                <th scope="col">
                    <a href="#"
                       hx-get="@Url.Page("DownloadChapterTable", new { libraryId = Model.LibraryId, sort = nameof(ChapterDownloadRecord.StatusUpdateAt), asc = !Model.SortAsc, page = Model.CurrentPage })"
                       hx-target="#downloads-table" hx-swap="outerHTML" class="text-decoration-none">
                        @I18n.LastUpdate
                        @if (Model.SortColumn == nameof(ChapterDownloadRecord.StatusUpdateAt))
                        {
                            <i class="bi @(Model.SortAsc ? "bi-caret-up-fill" : "bi-caret-down-fill") ms-1"></i>
                        }
                    </a>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Records)
            {
                <vc:download-chapter-table-row chapter-download-record="@record" />
            }
        </tbody>
    </table>

    <vc:table-pagination current-page="@Model.CurrentPage" 
                         total-items="@Model.TotalItems" 
                         page-size="@Model.PageSize"
                         target="#downloads-table"
                         swap="outerHTML"
                         page-url-template="@Url.Page("DownloadChapterTable", new { area = "Libraries", Model.LibraryId, Model.SortColumn, Model.SortAsc, Model.CurrentPage })" />
   

    
</div>
