@page
@using KamiYomu.Web.Areas.Libraries.Pages.Collection.Dialogs
@using KamiYomu.Web.Extensions
@model RemoveFromCollectionModel
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@I18n.ConfirmDelete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body text-center">
    <fieldset class="mt-4 border rounded p-3">
        <p class="fs-5">
            @I18n.YouAreAboutToDeleteThisMangaFromYourCollection
        </p>
        <p class="text-muted">
            @I18n.AllchapterWillBeTerminated
        </p>
    </fieldset>

    <fieldset class="mt-4 border rounded p-3">
        <partial name="_MangaInfo" model="Model.Library.Manga" />
    </fieldset>
</div>
<div class="modal-footer">
    <form method="post"
          hx-post="/Libraries/Downloads/Index?handler=RemoveFromCollection"
          hx-target="#@Model.RefreshElementId"
          hx-swap="innerHTML">
        @Html.AntiForgeryToken()

        <input type="hidden" name="MangaId" value="@Model.Library.Manga.Id" />
        <input type="hidden" name="CrawlerAgentId" value="@Model.Library.CrawlerAgent.Id" />


        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">@I18n.Delete</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@I18n.Cancel</button>
    </form>
</div>

