@using System.Globalization

<div class="dropdown">
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle d-flex justify-content-center align-items-center px-2 py-1 shadow-sm w-100 position-relative"
            type="button"
            data-bs-toggle="dropdown" style="border-width: 1px; font-size: 0.75rem; border-radius: 0.3rem;">
        <span class="position-absolute start-0 ps-2">
            <i class="bi bi-globe fs-6"></i>
        </span>
        <span class="fw-normal">
            @(CultureInfo.CurrentCulture.IsNeutralCulture? I18n.Language: CultureInfo.CurrentCulture.NativeName)
        </span>
    </button>
    <ul class="dropdown-menu w-100">
        <li>
            <form method="post"
                  asp-page="/Index"
                  asp-page-handler="LanguageSet"
                  asp-route-area=""
                  asp-route-returnUrl="@Context.Request.Path"
                  novalidate>
                  @Html.AntiForgeryToken()
                <input type="hidden" name="Culture" value="@CultureInfo.GetCultureInfo("en-US").Name" />
                <button type="submit" class="dropdown-item">🇺🇸 @CultureInfo.GetCultureInfo("en-US").NativeName</button>
            </form>
        </li>
        <li>
            <form method="post"
                  asp-page="/Index"
                  asp-page-handler="LanguageSet"
                  asp-route-area=""
                  asp-route-returnUrl="@Context.Request.Path"
                  novalidate>
                @Html.AntiForgeryToken()
                <input type="hidden" name="Culture" value="@CultureInfo.GetCultureInfo("pt-BR").Name" />
                <button type="submit" class="dropdown-item">🇧🇷 @CultureInfo.GetCultureInfo("pt-BR").NativeName</button>
            </form>
        </li>
        <li>
            <form method="post"
                  asp-page="/Index"
                  asp-page-handler="LanguageSet"
                  asp-route-area=""
                  asp-route-returnUrl="@Context.Request.Path"
                  novalidate>
                @Html.AntiForgeryToken()
                <input type="hidden" name="Culture" value="@CultureInfo.GetCultureInfo("fr").Name" />
                <button type="submit" class="dropdown-item">🇫🇷 @CultureInfo.GetCultureInfo("fr").NativeName</button>
            </form>
        </li>
    </ul>
</div>