@page "{Id:guid}"
@using KamiYomu.Web.Areas.Settings.Pages.CrawlerAgents.Dialogs
@model AgentDetailsModel
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@I18n.CrawlerAgentDetails</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@I18n.Property</th>
                <th>@I18n.Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@I18n.Name</td>
                <td>@Model.Agent.DisplayName</td>
            </tr>
            @foreach (var valuePair in Model.Agent.AgentMetadata)
            {
                <tr>
                    <td>@I18n.ResourceManager.GetStringSafe(valuePair.Key)</td>
                    <td>
                        @{
                            var metadataKey = valuePair.Key;
                            object? metadataValue = null;

                            var hasValue = !string.IsNullOrWhiteSpace(metadataKey) &&
                            Model.Agent.AgentMetadata.TryGetValue(metadataKey, out metadataValue);

                           
                        }

                        @if (metadataValue is bool boolVal)
                        {
                            <input type="checkbox" readonly @(boolVal ? "checked" : "") />
                        }
                        else
                        {
                            @metadataValue?.ToString()
                        }
                    </td>
                </tr>

            }
            <tr>
                <td colspan="2" class="text-center fw-bold">
                    @I18n.AssemblyProperties
                </td>
            </tr>
            @foreach (var key in new[] { "FilePath", "Title", "Description", "Company", "Product", "Version", "FileVersion", "InformationalVersion" })
            {
                <tr>
                    <td>@I18n.ResourceManager.GetString(key)</td>
                    <td>@(Model.Agent.AssemblyProperties.TryGetValue(key, out var value) && !string.IsNullOrWhiteSpace(value) ? value : "Empty")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@I18n.Close</button>
</div>
