@page
@model KamiYomu.Web.Pages.CrawlerAgents.Dialogs.DeleteConfirmModel
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@I18n.ConfirmDelete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>@I18n.AreYouCertainYouWantPermanentlyDeleteThisRecord <strong>@Model.Agent.AssemblyName</strong></p>
</div>
<div class="modal-footer">
    <form method="post"
          hx-post="/Settings/CrawlerAgents/Dialogs/DeleteConfirm"
          hx-target="#crawler-agent-list"
          hx-swap="innerHtml">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Agent.Id" />
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Remove</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </form>
</div>

