@using KamiYomu.Web.Areas.Libraries.ViewComponents

@model DownloadProgressViewComponentModel

<div class="mb-2">
    <div class="fw-semibold mb-1">
        @I18n.DownloadProgress
    </div>

    <div class="progress" style="background-color: var(--bs-gray-600);">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
             role="progressbar"
             style="width: @Model.Progress.ToString("F0")%;"
             aria-valuenow="@Model.Progress.ToString("F0")"
             aria-valuemin="0"
             aria-valuemax="100">
            @Model.Progress.ToString("F0")%
        </div>
    </div>

</div>

<div class="row text-center text-sm-start align-items-center">
    <div class="col-sm-6 mb-2 mb-sm-0">
        <div class="fw-semibold">@I18n.ChaptersFound</div>
        <div class="text-muted">@Model.Total</div>
    </div>

    <div class="col-sm-6">
        <div class="fw-semibold">@I18n.Downloaded</div>
        <div class="text-muted">@Model.Completed</div>
    </div>
</div>

