@using KamiYomu.Web.Areas.Reader.Pages.MangaReader
@model IndexModel

@{
    var returnUrl = Context.Request.Query["returnUrl"].ToString();
    if (string.IsNullOrWhiteSpace(returnUrl))
    {
        returnUrl = @Url.Page("/MangaInfo/Index", new { area = "Reader", libraryId = Model.LibraryId});
    }
}
<header class="reader-header p-2 border-bottom border-secondary d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-2">
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#readerSettings">
            <i class="bi bi-gear-fill"></i>
        </button>
        <a href="@returnUrl"
           class="btn btn-sm btn-outline-secondary border-0">
            <i class="bi bi-chevron-left"></i>
        </a>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 small px-3">

        <!-- Previous -->
        @if (Model.PreviousChapterId != null)
        {
            <a asp-area="Reader"
               asp-page="/MangaReader/Index"
               asp-route-chapterDownloadId="@Model.PreviousChapterId"
               asp-route-libraryId="@Model.LibraryId"
               class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-2"
               aria-label="@I18n.PreviousChapter">

                <i class="bi bi-chevron-left"></i>
                <span class="d-none d-sm-block">@I18n.PreviousChapter</span>
            </a>
        }
        else
        {
            <button class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-2"
                    disabled
                    aria-disabled="true">
                <i class="bi bi-chevron-left"></i>
                <span class="d-none d-sm-block">@I18n.PreviousChapter</span>
            </button>
        }

        <!-- Chapter title -->
        <div class="text-truncate text-center flex-grow-1 fw-semibold">
            @I18n.Chapter @Model.ChapterDownloaded.Chapter.Number:
            <span class="fw-normal d-none d-sm-block">
                @Model.ChapterDownloaded.Chapter.Title
            </span>
        </div>

        <!-- Next -->
        @if (Model.NextChapterId != null)
        {
            <a asp-area="Reader"
               asp-page="/MangaReader/Index"
               asp-route-chapterDownloadId="@Model.NextChapterId"
               asp-route-libraryId="@Model.LibraryId"
               class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-2"
               aria-label="@I18n.NextChapter">

                <span class="d-none d-sm-block">@I18n.NextChapter</span>
                <i class="bi bi-chevron-right"></i>
            </a>
        }
        else
        {
            <button class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center gap-2"
                    disabled
                    aria-disabled="true">
                <span class="d-none d-sm-block">@I18n.NextChapter</span>
                <i class="bi bi-chevron-right"></i>
            </button>
        }

    </div>


    <div class="d-flex gap-2">
        <button class="btn btn-sm btn-outline-info" onclick="readerState.toggleFullscreen()">
            <i class="bi bi-fullscreen"></i>
        </button>
    </div>
</header>
