@page
@using KamiYomu.Web.Areas.Libraries.Pages.Downloads
@using KamiYomu.Web.Extensions
@model IndexModel

@section Scripts {
    <script>
        function selectSite(id, label, faviconUrl) {
          document.getElementById('selectedAgent').value = id;
          document.getElementById('selectedAgentLabel').textContent = label;
          document.getElementById('selectedAgentFavicon').src = faviconUrl;
          document.getElementById('searchInput').dispatchEvent(new Event('change'));
        }
    </script>
}


<div class="d-flex justify-content-between align-items-center m-3">
    <h2 class="h5 mb-0 text-primary">
        <i class="bi bi-cloud-download me-3" aria-hidden="true"></i>
        @I18n.Download
    </h2>
</div>

<div class="container py-4">

    <div class="mb-4">
        <div class="row g-2 align-items-stretch">
            <div class="col-12 col-md-3">
                <div class="dropdown w-100">
                    <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center w-100"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <img src="/images/favicon.png" id="selectedAgentFavicon" width="20" class="me-2" />
                        <span id="selectedAgentLabel" class="text-truncate">@I18n.SelectCrawlerAgent</span>
                    </button>
                    <ul class="dropdown-menu w-md-auto">
                        @foreach (var agent in Model.CrawlerAgents)
                        {
                            using var crawlerInstance = agent.GetCrawlerInstance();
                            var faviconUrl = await crawlerInstance.GetFaviconAsync(CancellationToken.None);

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#"
                                   onclick="selectSite('@agent.Id', '@agent.DisplayName', '@faviconUrl.ToInternalImageUrl()')">
                                    <img src="@faviconUrl.ToInternalImageUrl()" width="20" class="me-2" />
                                    @agent.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <input type="text"
                       class="form-control w-100"
                       placeholder="@I18n.SearchManga"
                       name="query"
                       id="searchInput"
                       hx-trigger="keyup[key=='Enter']"
                       hx-on:keyup="if(event.key === 'Enter') document.getElementById('search-btn').click()" />
            </div>

            <div class="col-12 col-md-3">
                <button id="search-btn"
                        class="btn btn-outline-primary w-100"
                        type="button"
                        hx-get="@Url.Page("/Downloads/Index", new { area = "Libraries", handler = "Search" })"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#selectedAgent, #searchInput">
                    <i class="bi bi-search me-2"></i>
                    @I18n.Search
                </button>
            </div>

            <input type="hidden" name="selectedAgent" id="selectedAgent" />
        </div>
    </div>

    <div id="search-results" class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <vc:search-manga-result 
            libraries="@Model.Results" 
            search-uri="@Url.Page("/Downloads/Index", new {
            Area= "Libraries",
            Handler = "Search",
            Query = ViewData[nameof(Model.Query)],
            SelectedAgent = ViewData[nameof(Model.SelectedAgent)],
            OffSet = ViewData[nameof(Model.Offset)],
            Limit = ViewData[nameof(Model.Limit)],
            ContinuationToken = ViewData[nameof(Model.ContinuationToken)]
       })"/>
    </div>
</div>

