@using KamiYomu.Web.Areas.Reader.ViewModels
@using KamiYomu.Web.Infrastructure.Services.Interfaces
@inject IUserClockManager UserClockService
@model ChapterViewModel

@{
    var progressPercent = (Model.ChapterProgress.TotalPages > 0)
            ? (Model.ChapterProgress.LastPageRead * 100 / Model.ChapterProgress.TotalPages)
            : 0;
}
<div class="history-item shadow-sm border">
    <div class="history-progress-fill" style="width: @progressPercent%;"></div>

    <div class="history-cover-container">
        <img src="@Model.Library.Manga.CoverUrl.ToInternalImageUrl()" alt="">
    </div>

    <div class="history-content">
        <div>
            <h6 class="mb-0 fw-bold text-success small text-uppercase">
                @Model.Library.Manga.Title
            </h6>
            <small class="text-muted">
                @I18n.Chapter @Model.ChapterProgress.ChapterNumber
                <span class="mx-1">•</span>
                @I18n.Page @Model.ChapterProgress.LastPageRead/@Model.ChapterProgress.TotalPages
            </small>
        </div>

        <div class="d-flex align-items-center gap-3">
            <div class="text-end">
                <div class="badge bg-success-subtle text-success border border-success-subtle mb-1">
                    @progressPercent%
                </div>
                <div class="text-muted" style="font-size: 0.7rem;">
                    @UserClockService.ConvertToUserTime(Model.ChapterProgress.LastReadAt).ToString("t")
                </div>
            </div>

            <a asp-area="Reader" asp-page="/MangaReader/Index"
               asp-route-chapterDownloadId="@Model.ChapterProgress.ChapterDownloadId"
               asp-route-libraryId="@Model.Library.Id"
               asp-route-returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")"
               class="btn btn-sm btn-success rounded-circle">
                <i class="bi bi-play-fill"></i>
            </a>
        </div>
    </div>
</div>
