@using KamiYomu.Web.AppOptions
@using KamiYomu.Web.Areas.Settings.ViewComponents

@model SearchBarViewModel

<div class="mt-3 search-bar">
    <div class="mb-3">
        <label asp-for="Search" class="form-label">@I18n.Addons</label>

        <div class="row g-2">
            <div class="col-12 col-md-4">
                <select asp-for="SourceId" id="nuget-source-select" class="form-select w-100">
                    @if (!Model.Sources.Any())
                    {
                        <option value="">@I18n.SelectSource</option>
                    }
                    @foreach (var source in Model.Sources)
                    {
                        <option value="@source.Id">@source.DisplayName</option>
                    }
                </select>
            </div>

            <div class="col-12 col-md-5">
                <input type="text" 
                       asp-for="Search" 
                       class="form-control w-100" 
                       placeholder="@I18n.Search" 
                       hx-trigger="keyup[key=='Enter']"
                       hx-on:keyup="if(event.key === 'Enter') document.getElementById('search-btn').click()" />
            </div>

            <div class="col-12 col-md-3">
                <button type="button"
                        hx-get="@Url.Page("/Add-ons/Index", new { area = "Settings", handler = "Search" })"
                        hx-target="#result"
                        hx-swap="innerHTML"
                        hx-include="closest .search-bar"
                        hx-push-url="true"
                        id="search-btn"
                        class="btn btn-primary w-100">
                    <i class="bi bi-search me-2"></i>
                    @I18n.Search
                </button>
            </div>
        </div>

        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" asp-for="IncludePrerelease" id="IncludePrerelease">
            <div class="d-flex flex-column">
                <label class="form-check-label mb-1" asp-for="IncludePrerelease" for="IncludePrerelease">
                    @I18n.IncludePreReleaseVersions
                </label>
                <small class="form-text text-muted">
                    <i class="bi bi-exclamation-circle-fill me-2"></i>
                    @I18n.IncludePreReleaseVersionsExplanation
                </small>
            </div>
        </div>
    </div>
</div>
